/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */

.card_container {
  position: relative;
  align-items: baseline;
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #202020;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.bi {
  color: #ffffff;
  width: 2rem;
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content a:hover {
  text-decoration: none;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}


/* Pour les écrans moyens */

@media screen and (max-width: 1440px) {


#profile{

  margin: 5rem 0rem;
}

#Experience{
  
  margin: 5rem 0rem;
}
}
@media screen and (max-width: 1200px) {
  .card {
    width: 280px;
  }
  .profile_img{
    display: none;
  }
 
}

/* Pour les tablettes */
@media screen and (max-width: 992px) {
  .card_container {
    width: 60%;
    min-width: 250px;
    margin: 10px;
    position: relative;
    align-self: center;
    left: 15VH;
    
   
  }


.sec_text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

}

/* Pour les smartphones en mode paysage */
@media screen and (max-width: 792px) {
  .card {
    width: 100%;
    
    margin: 30px;
  }

#Experience{

  margin-top: 20rem;
  margin-bottom: 0;
  gap: 5rem;
}

.expe_contain{
 
margin-top: 5rem;
position: relative;
top: 20px;
}


.details-container {
    width: 80%;
    margin: 1rem auto;
}

.sec_text {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
}

/* Pour les petits smartphones */
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 320px;
  }

  .expe_contain{
 
    left: 3vh;
    }

  .details-container {
    width: 90%;
    padding: 1rem;
}

.sec_text {
    font-size: 0.9rem;
}

.section_p1, .title {
    font-size: 1.5rem;
    margin: 1rem;
}
}